@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');

@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: WHITE;
}

a {
  color: #3a3a3a;
}

p {
  font-size: 20px;
}

.arrowlign {
  top: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  margin: 50px;
}

.verticalCenter {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* header */

.header {
  transition: 1s;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
}

.headerBg{
  transition-duration: 1s;
  background-color: rgba(48, 150, 47, 0.83);
  box-shadow: 1px 1px 4px 0 rgba(12, 12, 12, 0.2);
}

.header-wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  transition-duration: 0.4s;
  background-color: #1abb48;
}

.header .logo {
  display: block;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 900;
  text-decoration: none;
}

/* menu */

.header .menu {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.video {
  width: 560px;
  height: 500px;
}
.box {
  margin: 0 auto;
  min-height: 900px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px;
  padding: 20px;
  max-width: 960px;
  max-height: 700px;
  display: grid;
  text-align: center;
  color: #3a3a3a;
}

.box h1 {
  font-size: 28px;
  color: #3a3a3a;
}

.aboutusbg {
  background-image: url("assets/Pictures/background.jpg");
  object-fit: cover;
}

.transparentCard {
  background-color: rgba(114, 162, 110, 0.62);
}

.slider {
  height: 600px;
  display: block;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__nav:checked:nth-of-type(6) ~ .slider__inner {
  left: -500%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  height: 700px;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 75%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196F3;
}
.slider__caption {
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__caption.margin{
  margin-bottom: 0;
}
.slider__txt {
  color: #343434;
  margin-bottom: 6rem;
  max-width: 600px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/*** START : TABLET ***/
@media screen and (max-width: 768px){
  .header {
    background-color: rgba(255, 255, 255, 0.83);
  }
  .card {
    margin-top: 100px;
    max-height: 100%
  }
}
/*** END : TABLET ***/


/*** START : MOBILE ***/
@media screen and (max-width: 480px){
  .video {
    width: 300px;
    height: auto;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 11.5%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -82%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -187%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -293%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
  .slider__nav:checked:nth-of-type(6) ~ .slider__inner {
    left: -504%;
  }
}
/*** END : MOBILE ***/

/*footer*/
body{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.content{
  min-height: calc(100vh - 120px);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 1rem;
  height: 120px;
  background: rgba(52, 104, 52, 0.83);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0 3rem;
}

footer a {
  color: rgba(0, 0, 0, 0.72);
  font-weight: 400;
  transition: .2s;
}

footer a:hover {
  color: #000000;
}
