@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');

@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: WHITE;
}

a {
  color: #000000;
}

.arrowlign {
  top: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  margin: 50px;
}

.calcButton {
  background-color: #4CAF50; /* Green */
  border: 1px green solid;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

select {
  border-radius: 2px;
  margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type=text] {
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
}

.verticalCenter {
  justify-content: center;
  display: flex;
  align-items: center;
}

i:hover {
  opacity: 50%;
}

/* header */

.header {
  transition: 1s;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
}

.headerBg{
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0.83);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}

.header-wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  transition-duration: 0.4s;
  background-color: #dddddd;
}

.header .logo {
  display: block;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 900;
  text-decoration: none;
}

/* menu */

.header .menu {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.box {
  margin: 0 auto;
  min-height: 900px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px;
  padding: 40px;
  max-width: 960px;
  max-height: 700px;
  display: grid;
}

.box h1 {
  font-size: 3em;
  color: #000000;
}

.aboutusbg {
  background-image: url("assets/Pictures/background.jpg");
  object-fit: cover;
}

.transparentCard {
  background-color: rgba(162, 162, 162, 0.62);
}

/*** START : TABLET ***/
@media screen and (max-width: 768px){

}
/*** END : TABLET ***/


/*** START : MOBILE ***/
@media screen and (max-width: 480px){


}
/*** END : MOBILE ***/

/*footer*/
body{
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.content{
  min-height: calc(100vh - 120px);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 1rem;
  height: 120px;
  background: rgba(212, 214, 212, 0.83);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

footer a {
  color: #00000088;
  font-weight: 400;
  transition: .2s;
}

footer a:hover {
  color: #000000;
}
