<main class="main">
  <div class="box bg" style="min-height: 1000px;">
    <div class="card transparentCard" style="padding:10px; width: 670px">
      <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="slide2" class="slider__nav"/>
        <input type="radio" name="slider" title="slide3" class="slider__nav"/>
        <input type="radio" name="slider" title="slide4" class="slider__nav"/>
        <input type="radio" name="slider" title="slide5" class="slider__nav"/>
        <input type="radio" name="slider" title="slide6" class="slider__nav"/>
        <div class="slider__inner">
          <div class="slider__contents">
            <h2 class="slider__caption">Brynn Rothuis</h2>
            <img src="../assets/Pictures/about_us_Brynn.PNG" alt="Brynn" width="300px">
            <p class="slider__txt">
              Brynn is one of the engineers of the team, he also likes to do occasional design things,
              he's a big hobbyist and a huge nerd.
              <br><br><i>He worked on the website and electronic features of
              the game, he used the website for this.</i>
            </p>
          </div>
          <div class="slider__contents">
            <h2 class="slider__caption">Cas Weerkamp</h2>
            <img src="../assets/Pictures/about_us_Cas.PNG" alt="Cas" width="300px;">
            <p class="slider__txt">
              Cas is a very helpful teammate and never hesitates to help one of his other teammates.
              <br><br><i>He is one of the designers of this team and mainly made the board of the game but also
              the story board for example.</i>
            </p>
          </div>
          <div class="slider__contents">
            <h2 class="slider__caption">Jelle Scholte in 't Hoff</h2>
            <img src="../assets/Pictures/about_us_Jelle.PNG" alt="Jelle" width="300px">
            <p class="slider__txt">
              Jelle is a creative teammate and always thinks along with the ideas of the members.
              <br><br><i>He is a designer of this team and mainly worked on the promotional video but also
              the concept art and mood board of the project.</i>
            </p>
          </div>
          <div class="slider__contents">
            <h2 class="slider__caption">Max Vorgers</h2>
            <img src="../assets/Pictures/about_us_Max.PNG" alt="Max" width="300px">
            <p class="slider__txt">
              Max loves to joke around to keep the team spirit up high.
              <br>He knows a little of everything, but is determined to learn more.
              He is one of the designers but does some artist work as well.
              <br><br><i>He worked on the box art and logo of the game
              and also the rulebook.</i>
            </p>
          </div>
          <div class="slider__contents">
            <h2 class="slider__caption">Senne Oogink</h2>
            <img src="../assets/Pictures/about_us_Senne.PNG" alt="Senne" width="300px">
            <p class="slider__txt">
              Senne is a spontaneous girl from the Northern regions of the country and motivates everyone to do their work.
              <br><br><i>She is the main artist of our team and makes the pawns and card designs and much more</i>
            </p>
          </div>
          <div class="slider__contents">
            <h2 class="slider__caption">Wouter Meermans</h2>
            <img src="../assets/Pictures/about_us_Wouter.PNG" alt="Wouter" width="300px">
            <p class="slider__txt">
              Wouter is one of the engineers/designers of the team and likes to give feedback on the other tasks and is judiciary about it.
              <br><br><i>He mainly worked on the styling and features of the website and worked together with
              Brynn on the electronic features of the game.</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
