<header class="header">
  <div class="header-wrapper">
    <a href="#main" class="logo">
      <img src="../assets/Pictures/839px-Ubisoft_logo.png" alt="logo van het spel" width="40">
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/Home">Home</a></li>
      <li><a href="/Rules">Rules</a></li>
      <li><a href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
