<body>
<main class="main">
  <div class="box calc bg" >
    <div class="card transparentCard">
      <h1>Weather Forecast</h1>
      <img src="{{ weather }}" width="100px" height="100px"/>
      <h1>{{ weathername }}</h1>
      <p>
        Turn: {{ turn }}.
      </p>
      <button class="calcButton button" (click)="turnButton()">New Round</button>
    </div>
    <div style="padding-top: 89.75px" class="card transparentCard">
      <h1>Calculate Damage</h1>
      <form #dmgForm="ngForm" (ngSubmit)="damageCalc(dmgForm.value)">
        <div style="margin-right: 98px;"><label>Weapon: </label>
          <select  name="weaponbugs" id="weaponbugs" ngModel>
            <option value="1">Bucksect</option>
            <option value="2">Handgun</option>
            <option value="3">Bowsect</option>
            <option value="4">Sharpsect</option>
            <option value="5">Katasect</option>
          </select>
        </div>
        <div>
          <label for="Distance">Distance: </label>
          <input type="text" id="distance" name="distance" ngModel><br>
        </div>
        <br/>
        <button class="calcButton button" type="submit">Calculate Damage</button>
      </form>
      <p style="color: chartreuse;">Your damage output is {{ result }}</p>
    </div>
  </div>
</main>
</body>
