<main class="main">
  <div class="box placeholder">
    <div class="card transparentCard">
      <h1>Welcome to <b>Big Bug Warfare</b></h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        Nullam hendrerit ultricies nisl, eget efficitur ipsum congue nec.<br />
        Vestibulum eu ipsum non nunc sodales vestibulum.<br />
        Pellentesque pulvinar bibendum diam ut pharetra.<br />
        Nulla mattis, risus et placerat scelerisque.<br />
        Donec vulputate sagittis risus sed ultrices.
      </p>
    </div>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        <img src="{{ getSlide() }}" alt="slide" >
    </div>
    <div>
      <p>{{ slideInfo() }}</p>
    </div>

   <button (click)='getPrev()'>Prev</button>

   <button (click)='getNext()'>Next</button>

  </div>
</main>
